VBB_REALTIME_URL=https://production.gtfsrt.vbb.de/data
COLLECTION_INTERVAL_SECONDS=300
COLLECTION_DURATION_HOURS=48
REQUEST_TIMEOUT_SECONDS=30
MINIMUM_FREE_DISK_GB=10
USER_AGENT=RoutePulse/0.1 (+https://github.com/Begge10850/routepulse)